/* 覆盖默认的 Material 颜色变量 */
:root {
  /* 全局主色调：使用你上传图片中的明亮青绿色 */
  --md-primary-fg-color: #23e4d0; 
}

/* 1. 顶部 Header：使用稍深的青绿色，压住重心，让网页显得更稳重 */
.md-header {
  background-color: #27dfcc !important;
}

/* 2. 下方 Tabs：使用你图片中的原始青绿色，拉开深浅层次 */
.md-tabs {
  background-color: #81e5db !important;
}